/* Adding Fonts */

@font-face {
    font-family: 'Storytella';
    src: url('../fonts/storytella.otf') format('otf'),
         url('../fonts/storytella.woff2') format('woff2'),
         url('../fonts/storytella.woff') format('woff');

}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/gilroyEB.otf') format('otf'),
         url('../fonts/gilroyEB.woff2') format('woff2'),
         url('../fonts/gilroyEB.woff') format('woff');

}

@font-face {
	font-family: 'Times New Roman Italic';
	src: url('../fonts/times_new_roman_italic.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/times_new_roman_italic.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/times_new_roman_italic.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/times_new_roman_italic.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/times_new_roman_italic.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/times_new_roman_italic.svg#times_new_roman_italic') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
	font-family: 'Times New Roman Bold';
	src: url('../fonts/times_new_roman_bold.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/times_new_roman_bold.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/times_new_roman_bold.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/times_new_roman_bold.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/times_new_roman_bold.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/times_new_roman_bold.svg#times_new_roman_bold') format('svg'); /* Chrome < 4, Legacy iOS */
}

body {
    background-color: white;
    background: url('../img/bg/first-bg.png') top center no-repeat;
    margin: 0 auto;
    min-width: 500px;
}

/* General Container */

.container {
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}

/* General headers and text styles */

h1 {
    font-family: 'Storytella', cursive;
    font-size: 200px;
    color: white;
}

h2 {
    color: #ffffff;
    padding-bottom: 15px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    font-weight: 100;
    line-height: 50px;
}

h2.black {
    color: #2e2e2e;
}

h2 span {
    font-weight: 900;
}

h3 {
    max-width: 510px;
    margin: 0 auto;
    padding: 0px 20px;
    color: #bfbfbf;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 18px;
    text-transform: none;
    text-align: center;
    line-height: 25px;
}

/* Line under the navigation */

.line-under-nav {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    position: relative;
    top: 105px;
    z-index: auto;
}


/* Header */


header .container {
    display: flex;
    justify-content: space-between;
}

header .header-left {
    display: flex;
    justify-content: left;
}

header .header_logo {
    width: 100px;
    position: relative;
    z-index: 55;
}

header nav {
    display: flex;
    width: 78%;
}

header nav ul {
    display: flex;
}

header nav li {
    padding: 45px 0;
    margin-right: 25px;
}

header nav li a, header nav li a:visited {
    text-decoration: none;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    padding: 45px 0;
}

header nav li:last-child {
    margin-right: 0px;
}

header nav li:first-child {
    margin-left: 60px;
}

.header_button {
    width: 150px;
}

.header_button button {
    margin-top: 28px;
    padding: 15px 30px;
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: white;
    color: #1b1b1b;
    border: 0px;
    border-radius: 30px; 
}

.header_button button:hover {
    background-color: rgba(0, 4, 10, 0.7);
    color: white;
    transition: 0.5s;
}

.header_button button:active {
    box-shadow: 0px 0px 15px #ccc;
      -moz-box-shadow: 0px 0px 15px #ccc;
      -webkit-box-shadow: 0px 0px 15px #ccc;
      -khtml-box-shadow: 0px 0px 15px #ccc;
    color: white;
    transition: none;
}

.header_main-title {
    margin: 200px 0 120px 0;
}

/* Resp-Header */

#checkbox_toggle {
    display: none;
}

@media (min-width: 800px) {
    .header-mobile-icon {
        display: none;
    }
}

@media (max-width: 800px) {
    header .container:nth-of-type(1) {
        min-height: 90px;
        position: relative;
        justify-content: left;
    }

    header .header-left {
        width: 40%;
    }

    header .header_button {
        width: 60%;
    }
    
    input[type=checkbox] {
        display: none;
    }

    nav ul {
        width: 100%;
        margin-top: 105px;
        background: rgba(0, 0, 0, 0.9);
        transition: all 1s cubic-bezier(.325, 1, .22, 1);
        display: flex;
        flex-direction: column;
        position: absolute;
        z-index: 50;
        left: -100%;
    }
    
    header nav li:first-child {
        margin-left: 0px;
    }

    nav li {
        color: #fff;
        font-size: 20px;
        text-transform: uppercase;
        text-align: center;
        padding: 5px 0;
        display: flex;
        justify-content: center;
    }

    header nav li {
        padding: 45px 0;
        margin-right: 0px;
    }
    
    nav li a, nav li a:hover {
        text-decoration: none;
    }
    
    input[type=checkbox]:checked ~ nav ul {
        position: absolute;
        left: 0;
    }
    
    .hamburger {
        display: block;
        position: absolute;
        top: 40px;
        right: 30px;
        height: 40px;
        width: 40px;
        cursor: pointer;
        transition: all 1s cubic-bezier(.19, 1, .22, 1);
    }
    
    .line {
        position: absolute;
        display: block;
        background: #ffffff;
        width: 30px;
        height: 2px;
        border-radius: 2px;
        left: 0;
        transition: all .6s cubic-bezier(.5, .1, 0, 1.2);
    }
    
    .line-1 {
        top: 0;
    }
    
    .line-2 {
        top: 10px;
    }
    
    .line-3 {
        top: 20px;
    }
    
    input[type=checkbox]:checked ~ label .line-1 {
        top: 0px;
        width: 35px;
        transform: translateX(-11px) rotate(-45deg) translateY(12px);
    }
    
    input[type=checkbox]:checked ~ label .line-2 {
        opacity: 0;
    }
    
    input[type=checkbox]:checked ~ label .line-3 {
        top: 14px;
        width: 35px;
        transform: translateX(-8px) rotate(45deg) translateY(-8px);
    }
    .header_main-title {
        font-size: 160px;
        margin: 200px 0 120px 40px;
        transition: 1s;
    }
}    

@media (max-width: 1420px) {
    .header_main-title {
        margin: 200px 0 120px 20px;
        transition: 1s;
    }

    /* Resp-Section #1: Agro Awesome */

    .section-1_agro-awesome .container-xl {
        width: 100%;
        padding: 0px;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .agro-awesome_first-part {
        display: none;
    }

    .agro-awesome_second-part {
        justify-content: center;
        order: 0;
    }

    .agro-awesome_second-part .block-four {
        text-align: center;
        width: 100%;
        height: 250px;
        background-color: rgba(26, 26, 26, 0.6);
        order: -1;
    }

    .agro-awesome_second-part .block-four h2 {
        text-align: center;
    }

    .agro-awesome_second-part .block-five {
        width: 500px;
        height: 310px;
    }

    .agro-awesome_second-part .block-three:hover {
        background-position-x: 20px;
        background-position-y: 0px;
        transition: 0.3s;
    }

    .agro-awesome_second-part .block-six {
        display: block;
        background: url('../img/section-1/awesomeSweets.png') no-repeat bottom left;
        background-size: 1000px 893px;
        width: 500px;
        height: 310px;
        border: none;
        position: relative;
    }
    .agro-awesome_second-part .block-six:hover {
        background-position-y: 57%;
        background-position-x: 100%;
        transition: 1s;
    }
    .agro-awesome_second-part .block-six h2 {
        padding: 0px 30px;
        font-size: 30px;
        font-weight: 100;
        text-align: left;
        line-height: 33px;
        position: absolute;
        left: 0;
        bottom: 35px;
    }
    .agro-awesome_second-part .block-six h2 span {
        display: block;
        font-weight: 700;
    }
}

@media (max-width: 606px) {
    .agro-awesome_second-part .block-four h2 {
        padding: 50px 80px;
    }
}


/* Section #1: Agro Awesome */


.container-xl {
    width: 1380px;
    padding: 0 10px;
    margin: 0 auto;
} /* General container doesn't fit the section's content,
     so creating here the wider one */

.section-1_agro-awesome .container-xl {
    display: flex;
}

.agro-awesome_second-part {
    display: flex;
    flex-wrap: wrap;
}

.block-one {
    background: url('../img/section-1/awesomeSweets.png') no-repeat;
    width: 380px;
    height: 679px;
}

.block-one:hover {
    background-position-x: 100%;
    transition: 1s;
}

.block-two {
    background: url('../img/section-1/organicFood.png') no-repeat;
    width: 500px;
    height: 310px;
}

.block-two:hover {
    background-position-x: -30px;
    transition: 0.3s;
}

.block-three {
    background: url('../img/section-1/tastyMeat.png') no-repeat;
    width: 500px;
    height: 310px;
}

.block-three:hover {
    background-position-y: 30px;
    transition: 0.3s;
}

.block-four {
    background: transparent;
    width: 384px;
    height: 369px;
}

.block-five {
    background: url('../img/section-1/juicyFruits.png') no-repeat;
    width: 616px;
    height: 369px;
}

.block-six {
    display: none;
}

.block-five:hover {
    background-position-y: 100%;
    transition: 1s;
}

.block-one, .block-two, .block-three, .block-four, .block-five {
    border: none;
    position: relative;
}

.block-one h2, .block-two h2, .block-three h2, .block-five h2 {
    padding: 0px 30px;
    font-size: 30px;
    font-weight: 100;
    text-align: left;
    line-height: 33px;
    position: absolute;
    left: 0;
    bottom: 35px;
}

.block-one h2 span, .block-two h2 span, .block-three h2 span, .block-five h2 span {
    display: block;
    font-weight: 700;
}

.block-four h2 {
    color: #fcdb5a;
    padding: 70px 80px;
    font-size: 40px;
    line-height: 50px;
    text-align: left;
}

.block-four h2 span {
    display: block;
    font-weight: 700;
}

    /* Resp-Section #2: Agro Awesome */

@media (max-width: 1050px) {
    .section2_quality-food .container {
        background-position: 400px 0px, -30px 40px !important;
        transition: 1s; 
    }    
}
@media (max-width: 1000px) {
    .section2_quality-food .container {
        background-position: 350px 0px, -80px 40px !important;
        transition: 1s; 
    }    
}
@media (max-width: 950px) {
    .section2_quality-food .container {
        background-position: 300px 0px, -130px 40px !important;
        transition: 1s; 
    }    
}
@media (max-width: 900px) {
    .section2_quality-food .container {
        background-position: 250px 0px, -180px 40px !important;
        transition: 1s; 
    }    
}
@media (max-width: 850px) {
    .section2_quality-food .container {
        background-position: 200px 0px, -230px 40px !important;
        transition: 1s; 
    }    
}
@media (max-width: 800px) {
    .section2_quality-food .container {
        background-position: 150px 0px, -280px 40px !important;
        transition: 1s; 
    }    
}
@media (max-width: 750px) {
    .section2_quality-food .container {
        background-position: 100px 0px, -330px 40px !important;
        transition: 1s; 
    }    
}
@media (max-width: 700px) {
    .section2_quality-food .container {
        background-position: 50px 0px, -380px 40px !important;
        transition: 1s; 
    }    
}
@media (max-width: 650px) {
    .section2_quality-food .container {
        background-position: 0px 0px, -430px 0px !important;
        transition: 1s; 
    }    
}

@media (max-width: 600px) {
    .section2_quality-food .container {
        background-position: 0px 40px, -430px 40px !important;
        transition: 1s; 
    } 
    .section2_quality-food .quality-food_text-wrap {
        margin-top: 75px;
        padding: 70px 0 115px 20px;
        transition: 1s;
    }
    .section2_quality-food .quality-food_text-wrap p span {
        font-size: 75px;
        transition: 1s;
    }
}


/* Section #2: Quality Food */


.section2_quality-food {
    padding-top: 150px;
}

.section2_quality-food .container {
    background-image: url('../img/section-2/qualityFoodFragment.png'), url('../img/section-2/qualityFood.png');
    background-repeat: no-repeat, no-repeat;
    background-position: 445px 0px, 15px 40px;
    display: flex;
    justify-content: flex-end;
}

.section2_quality-food p span {
    color: rgb(251, 132, 111);
    font-family: 'Storytella', cursive;
    font-size: 100px;
    font-weight: 400;
    text-transform: none;
    margin-right: 35px;
}

.quality-food_text-wrap {
    padding: 70px 0 65px 10px;
}

.section2_quality-food p:nth-child(3) span:nth-child(2) {
    margin-right: 0px;
}

.quality-food_text-wrap p:nth-child(1) span:nth-child(1) {
    color: #fde557;
}
.quality-food_text-wrap p:nth-child(1) span:nth-child(2) {
    color: #e5248a;
}
.quality-food_text-wrap p:nth-child(2) span:nth-child(1) {
    color: #e5248a;
}
.quality-food_text-wrap p:nth-child(2) span:nth-child(2) {
    color: #73b63c;
}
.quality-food_text-wrap p:nth-child(3) span:nth-child(1) {
    color: #73b63c;
}
.quality-food_text-wrap p:nth-child(3) span:nth-child(2) {
    color: #f7ab32;
}
.quality-food_text-wrap p:nth-child(4) span:nth-child(1) {
    color: #f7ab32;
}
.quality-food_text-wrap p:nth-child(4) span:nth-child(2) {
    color: #4bbdd5;
}

    /* Resp-Section #3: Agro Services */

@media (max-width: 1100px) {
    main .section3_agro-services {
        padding-top: 100px;
        padding-bottom: 90px;
    }
    .section3_agro-services .agro-services_icons_item-wrap {
        width: 33%;
        padding-bottom: 40px;
    }
}

@media (max-width: 600px) {
    .section3_agro-services .agro-services_icons_item-wrap {
        width: 50%;
    }
}

/* Section #3: Agro Services */


.section3_agro-services {
    padding-top: 140px;
    padding-bottom: 130px;
}

.agro-services_icons {
    display: flex;
    flex-wrap: wrap;
    margin-top: 80px;
}

.agro-services_icons_item-wrap {
    width: 16.65%;
    text-align: center;
}

.agro-services_icons_item-wrap .icon-img {
    margin: 0 auto;
}

.agro-services_icons_item-wrap p {
    margin: 25px 0 5px 0;
    padding: 0;
    color: #2e2e2e;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 700;
    text-transform: none;
}

.agro-services_icons_item-wrap .steak {
    width: 200px; height: 56px;
    background: url('../img/section-3/icons-sprite.png') -5px 0px;
}

.agro-services_icons_item-wrap .cereals {
    width: 200px; height: 56px;
    background: url('../img/section-3/icons-sprite.png') -205px 0px;
}

.agro-services_icons_item-wrap .pizza {
    width: 200px; height: 56px;
    background: url('../img/section-3/icons-sprite.png') -405px 0px;
}

.agro-services_icons_item-wrap .vburger {
    width: 200px; height: 56px;
    background: url('../img/section-3/icons-sprite.png') -605px 0px;
}

.agro-services_icons_item-wrap .cupcake {
    width: 200px; height: 56px;
    background: url('../img/section-3/icons-sprite.png') -805px 0px;
}

.agro-services_icons_item-wrap .vegies {
    width: 200px; height: 56px;
    background: url('../img/section-3/icons-sprite.png') -1005px 0px;
}

.steak:hover, .pizza:hover, .cupcake:hover {
    background-position-y: -62px;
    transition: 1s;
}

.cereals:hover, .vburger:hover, .vegies:hover {
    background-position-y: 60px;
    transition: 1s;
}

    /* Resp-Section #4: Agro Perfect */

@media (max-width: 600px) {
    main .section4_agro-perfect h2 {
        text-align: center;
    }
    main .section4_agro-perfect h3 {
        text-align: justify;
        color: rgb(231, 231, 231);
    }
    .agro-perfect_btn {
        margin: 0 auto;
    }
}

@media (max-width: 1080px) {
    .section4_agro-perfect .agro-perfect_row {
        margin: 0 auto;
        width: 80%;
        overflow: hidden;
    }
    .agro-perfect_row .perfect_img {
        width: 40%;
    }
    .agro-perfect_row .perfect_txt {
        width: 60%;
    }
    .agro-perfect_row-item:nth-of-type(1) {
        order: 1;
    }
    .agro-perfect_row-item:nth-of-type(2) {
        order: 2;
    }
    .agro-perfect_row-item:nth-of-type(3) {
        order: 5;
    }
    .agro-perfect_row-item:nth-of-type(4) {
        order: 6;
    }
    .agro-perfect_row-item:nth-of-type(5) {
        order: 3;
        background-color: #f6f6f6;
    }
    .agro-perfect_row-item:nth-of-type(6) {
        order: 4;
    }
    .agro-perfect_row-item:nth-of-type(7) {
        order: 7;
        background-color: #f6f6f6;
    }
    .agro-perfect_row-item:nth-of-type(8) {
        order: 8;
    }
}
@media (max-width: 620px) {
    .section4_agro-perfect .agro-perfect_row {
        margin: 0 auto;
        width: 95%;
        overflow: hidden;
    }
    .agro-perfect_row .perfect_img {
        width: 45%;
    }
    .agro-perfect_row .perfect_txt {
        width: 55%;
    }
    .agro-perfect_row .agro-perfect_row-item h4 {
        padding: 30px 25px 10px 25px;
    }   
    .agro-perfect_row .agro-perfect_row-item p {
        padding: 0px 25px 0px 25px;
    }
}


/* Section #4: Agro Perfect */


.section4_agro-perfect {
    background:  #f9f9f9 url('../img/bg/second-bg.png') center top no-repeat;
}

.section4_agro-perfect .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section4_agro-perfect h2 {
    text-align: left;
    padding: 135px 0 0 0;
}

.section4_agro-perfect h3 {
    margin: 0px;
    max-width: 530px;
    font-weight: 400;
    font-size: 14px;
    text-align: left;
    color: #c5c5c5;
    padding: 25px 20px 0px 3px;
    line-height: 20px;
}

.agro-perfect_btn button {
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: #fcdb5a;
    color: #1b1b1b;
    margin: 50px 0 110px 0;
    padding: 18px 50px;
    border: 0px;
    border-radius: 30px;
}

.agro-perfect_btn button:hover {
    background-color: rgba(0, 4, 10, 0.7);
    color: white;
    transition: 0.5s;
}

.agro-perfect_btn button:active {
    box-shadow: 0px 0px 15px #ccc;
      -moz-box-shadow: 0px 0px 15px #ccc;
      -webkit-box-shadow: 0px 0px 15px #ccc;
      -khtml-box-shadow: 0px 0px 15px #ccc;
    color: white;
    transition: none;
}

.agro-perfect_row {
    display: flex;
    flex-wrap: wrap;
}

.agro-perfect_row-item {
    width: 25%;
    background-color: white;
}

.agro-perfect_row-item h4 {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #333333;
    padding: 40px 35px 10px 40px;
    line-height: 26px;
}

.agro-perfect_row-item p {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: rgba(102,102,102, 0.9);
    padding: 0px 35px 0px 40px;
    line-height: 26px;
    text-align: left;
}


        /* Resp-Tasty Cakes */

@media (max-width: 800px) {
    .section4_agro-perfect .container-xxl {
        background-position: -800px 0px;
        transition: 1s;
    }
    .section4_agro-perfect .agro-perfect_cakes {
        margin-top: 70px;
        transition: 1s;
    }
    .section4_agro-perfect .agro-perfect_cakes h1 {
        color: #d8bb90;
        font-size: 200px;
        text-shadow: 0px 0px 3px rgb(27, 27, 27);
        padding: 250px 0 70px 20px;
        line-height: 180px;
        transition: 1s;
    }
}

    /* Tasty Cakes */

.container-xxl {
    background: url('../img/bg/third-bg.png') center top no-repeat;
} /* Container for the new bg */

.agro-perfect_cakes {
    margin-top: 135px;
}

.agro-perfect_cakes h1 {
    max-width: 600px;
    color: #d8bb90;
    font-size: 230px;
    padding: 150px 0 170px 20px;
    line-height: 180px;
}


    /* Resp-Section #5: Agro Progress */

@media (max-width: 950px) {
    main .section5_agro-progress {
        padding-top: 100px;
    }
    .section5_agro-progress .agro-progress_items {
        flex-wrap: wrap;
        margin-top: 20px;
    }
    .section5_agro-progress .agro-progress_items_item-wrap {
        padding-top: 20px;
        width: 50%;
    }
    .agro-progress_items_item-wrap .agro-progress_items_item-wrap_img-wrap {
        width: 40%;
    }
    
    .agro-progress_items_item-wrap .agro-progress_items_item-wrap_text-wrap {
        width: 60%;
    }
}

/* Section #5: Agro Progress */


.section5_agro-progress {
    padding-top: 140px;
    padding-bottom: 100px;
}

.agro-progress_items {
    display: flex;
    margin-top: 60px;
}

.agro-progress_items_item-wrap {
    width: 25%;
    text-align: left;
    display: flex;
    justify-content: center;
}

.agro-progress_items_item-wrap p {
    margin: 5px 0 0 25px;
    padding: 0;
    color: #2e2e2e;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 700;
    text-transform: none;
}

.agro-progress_items_item-wrap p:first-of-type {
    margin: 5px 50px 0 25px;
    font-family: 'Gilroy', sans-serif;
    font-size: 50px;
}

.agro-progress_items_item-wrap_img-wrap {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.agro-progress_items_item-wrap_text-wrap {
    width: 50%;
}

    /* Resp-Section #6: Imgs Wall */ 

@media (max-width: 1620px) {
    .section6_imgs-wall .imgs-wall_row {
        max-width: 800px;
        background: rgba(0, 0, 0, 0.1);
    }
}

/* Section #6: Imgs Wall */


.section6_imgs-wall {
    width: 100%;
    display: flex;
    justify-content: center;
}

.imgs-wall_row {
    max-width: 1600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.imgs-wall_row_item {
    width: 400px;
    height: 370px;
    position: relative;
}

.imgs-wall_row_item_hide-text {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(56, 33, 23, 0.6);
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    visibility: hidden;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.2s, visibility 0.2s;
}

.imgs-wall_row_item:hover .imgs-wall_row_item_hide-text {
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}

.imgs-wall_row_item:hover {
    background-size: 101%;
}

.imgs-wall_row_item-1 {
    background: url('../img/section-6/1.png') center no-repeat;
}
.imgs-wall_row_item-2 {
    background: url('../img/section-6/2.png') center no-repeat;
}
.imgs-wall_row_item-3 {
    background: url('../img/section-6/3.png') center no-repeat;
}
.imgs-wall_row_item-4 {
    background: url('../img/section-6/4.png') center no-repeat;
}
.imgs-wall_row_item-5 {
    background: url('../img/section-6/5.png') center no-repeat;
}
.imgs-wall_row_item-6 {
    background: url('../img/section-6/6.png') center no-repeat;
}
.imgs-wall_row_item-7 {
    background: url('../img/section-6/7.png') center no-repeat;
}
.imgs-wall_row_item-8 {
    background: url('../img/section-6/8.png') center no-repeat;
}


/* Section #7: Feedback */


.section7_feedback {
    background: #25292c url('../img/bg/fourth-bg.png') center top no-repeat;
}

.section7_feedback .container {
    display: flex;
    flex-direction: column;
}

.section7_feedback h2 {
    padding-top: 140px;
}

.section7_feedback h3 {
    color: #b3b3b3;
}

.feedback_review {
    display: flex;
}

.feedback_review-quotation {
    color: #fcdb5a;
    font-family: 'Times New Roman Bold', sans-serif;
    font-size: 100px;
    text-transform: none;
    padding: 25px 0 0 10px;
}

.feedback_review-text {
    color: rgb(255, 255, 255);
    font-family: 'Times New Roman Italic', cursive;
    font-size: 25px;
    text-transform: none;
    width: 85%;
    padding: 50px 0 0 40px;
    line-height: 30px;
    text-align: left;
}

.feedback_credentials {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 147px;
}

.feedback_credentials img:first-of-type {
    margin: 45px 20px 30px 100px;
}

.feedback_credentials img:last-of-type {
    margin: 70px 100px 30px 0px;
    padding: 0;
}

.feedback_credentials p {
    width: 70%;
    color: rgb(255, 255, 255);
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-transform: none;
    line-height: 30px;
    text-align: left;
    padding-top: 15px;
}

.feedback_credentials p span {
    font-weight: 700;
}


/* Section #8: Blog */


.section8_blog h2 {
    padding-top: 120px;
}

.section8_blog h3 {
    padding-bottom: 60px;
}

.blog_posts {
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px;
}

.blog_posts a, .blog_posts a:visited, .blog_posts a:hover {
    display: block;
    text-decoration: none;
}

.blog_posts_link a:active {
    display: block;
    text-decoration: underline;
    color: rgba(255, 255, 255, 0.5);
}

.blog_posts_the-post_wrap {
    width: 370px;
    height: 396px;
    position: relative;
    display: flex;
    flex-direction: column;
}

.blog_posts_the-post:hover {
    transform: scale(1.01);
}

.blog_posts_the-post {
    width: 100%;
    height: 100%;
    transition: all 0.1s;
}

.blog_posts .first {
    background: url('../img/section-8/1.png') center no-repeat;
}

.blog_posts .second {
    background: url('../img/section-8/2.png') center no-repeat;
}

.blog_posts .third {
    background: url('../img/section-8/3.png') center no-repeat;
}

.blog_posts_the-post_date p {
    color: #333333;
    font-family: 'Gilroy', sans-serif;
    font-size: 25px;
    background: #fde557;
    text-align: center;
    padding: 15px 0;
    margin: 0 280px 0 30px;
}

.blog_posts_the-post_date p span {
    display: block;
    color: #9a8841;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 12px;
}

.blog_posts_the-post_title {
    padding: 246px 0 25px 25px;
}

.blog_posts_the-post_title p span {
    display: block;
    color: #ddc051;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 28px;
    text-align: left;
    text-transform: uppercase;
}

.blog_posts_the-post_title p {
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    text-transform: none;
}

    /* Labels */

.section8_blog .container:after {
    display: block;
    content: " ";
    width: 100%;
    height: 164px;
    background: url('../img/section-8/labels-sprite.png') left top no-repeat;
    padding-bottom: 110px;
}

/* Footer */

footer {
    background: #2e2e2e url('../img/footer/map.png') right top no-repeat;
}

footer .container {
    display: flex;
    flex-direction: column
}

.footer_nav {
    width: 60%;
    display: flex;
    justify-content: left;
    padding-top: 70px;
}

footer ul:first-of-type {
    margin-left: 160px;
}

footer ul:last-of-type {
    margin-left: 100px;
}

footer ul li a, footer ul li a:visited {
    color: #aaa;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 32px;
    text-decoration: none;
}

footer ul li a:hover {
    color: #fff;
}

.footer_contact {
    width: 60%;
    display: flex;
    justify-content: space-between;
    margin: 50px 0px 0px 0px;
    border-bottom: 1px solid rgba(80, 80, 80, 0.7);
}

.contact-wrap:nth-of-type(1) {
    width: 33%;
}

.contact-wrap:nth-of-type(2) {
    width: 43%;
}

.footer_contact p {
    width: 100%;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    line-height: 40px;
}

.contact-wrap:nth-child(2) p:last-of-type {
    color: #c4c4c4;
}

.footer_contact p span {
    color: #feed54;
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
}

.footer_contact .social-medias {
    padding: 45px 15px 50px 5px;
}

.footer_contact a {
    color: #4f4f4f;
    font-size: 25px;
    padding-right: 10px;
}

.footer_contact a:hover {
    color: #ffffff;
    transition: 0.3s;
}

.footer_contact a:last-of-type {
    padding-right: 0px;
}

.footer_bottomline {
    width: 60%;
    display: flex;
    justify-content: space-between;
    padding: 23px 0 23px 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #7e7e7e;
}

.footer_bottomline p a, .notes p a:visited {
    color: #7e7e7e;
    text-decoration: none;
}

.footer_bottomline p a:hover {
    color: #bbbbbb;
    text-decoration: none;
}



/* header: adding the line under a menu item when :hover */
.header-underline {
    display: inline;
    position: relative;
    overflow: hidden;
}
.header-underline:after {
    content: "";
    position: absolute;
    z-index: 10;
    right: 0;
    width: 0;
    top: 101px;
    background: #fcdb5a;
    height: 3px;
    transition-property: width;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
}
.header-underline:hover:after,
.header-underline:focus:after,
.header-underline:active:after {
    left: 0;
    right: auto;
    width: 100%;
}
/* header: finished adding the line under a menu item when :hover */

/* footer: adding the line under a menu item when :hover*/
.footer-underline a {
    position: relative;
    overflow: hidden;
}
.footer-underline a:after {
    content: "";
    position: absolute;
    z-index: 10;
    right: 0;
    width: 0;
    top: 23px;
    background: #fcdb5a;
    height: 3px;
    transition-property: width;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
}
.footer-underline a:hover:after,
.footer-underline a:focus:after,
.footer-underline a:active:after {
    left: 0;
    right: auto;
    width: 100%;
}
/* footer: finished adding the line under a menu item when :hover */


