@font-face {
    font-family: 'Storytella';
    src: url('../fonts/storytella.otf') format('otf'),
         url('../fonts/storytella.woff2') format('woff2'),
         url('../fonts/storytella.woff') format('woff');

}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/gilroyEB.otf') format('otf'),
         url('../fonts/gilroyEB.woff2') format('woff2'),
         url('../fonts/gilroyEB.woff') format('woff');

}

@font-face {
	font-family: 'Times New Roman Italic';
	src: url('../fonts/times_new_roman_italic.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/times_new_roman_italic.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/times_new_roman_italic.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/times_new_roman_italic.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/times_new_roman_italic.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/times_new_roman_italic.svg#times_new_roman_italic') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
	font-family: 'Times New Roman Bold';
	src: url('../fonts/times_new_roman_bold.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/times_new_roman_bold.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/times_new_roman_bold.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/times_new_roman_bold.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/times_new_roman_bold.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/times_new_roman_bold.svg#times_new_roman_bold') format('svg'); /* Chrome < 4, Legacy iOS */
}

body {
    max-width: 1600px;
    background: white;
    margin: 0 auto;
}

.bg-wrap {
    background: url('../img/bg/first-bg.png') no-repeat;
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
}

.wrap-1170px {
    width: 1170px;
    margin: 0 auto;
    overflow: hidden;
    clear: both;
}

.wrap-1380px {
    width: 1380px;
    margin: 0 auto;
    overflow: hidden;
    clear: both;
}

header {
    overflow: hidden;
    clear: both;
}

header .logo {
    float: left;
    position: relative;
    z-index: 1;
}

header nav {
    float: left;
}

header nav li {
    float: left;
    padding: 45px 0;
    margin-right: 25px;
}

header .wrap-1170px nav li a, a:visited {
    text-decoration: none;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

header nav li:last-child {
    margin-right: 0px;
}

header nav li:first-child {
    margin-left: 60px;
}

button {
    float: right;
    margin-top: 28px;
    padding: 15px 30px;
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: white;
    color: #1b1b1b;
    border: 0px;
    border-radius: 30px; 
}

button:hover {
    background-color: rgba(0, 4, 10, 0.7);
    color: white;
}

/* adding the line under a menu item when :hover */
.underline {
    display: inline;
    position: relative;
    overflow: hidden;
}
.underline:after {
    content: "";
    position: absolute;
    z-index: 10;
    right: 0;
    width: 0;
    top: 101px;
    background: #fcdb5a;
    height: 3px;
    transition-property: width;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
}
.underline:hover:after,
.underline:focus:after,
.underline:active:after {
    left: 0;
    right: auto;
    width: 100%;
}

/* finished adding the line under a menu item when :hover */

.line {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    position: relative;
    top: 105px;
    z-index: auto;
}

section {
    margin: 0 auto;
    overflow: hidden;
    clear: both;
}

main .wrap-1170px span {
    display: block;
    float: left;
    clear: both;
    margin: 200px 0 120px 0;
    font-family: 'Storytella', cursive;
    font-size: 200px;
    color: white;
}

/* Section #2 */

.block-one {
    background: url('/img/sectionTwo/awesomeSweets.png') no-repeat;
    width: 380px;
    height: 679px;
}

.block-one:hover {
    background: url('/img/sectionTwo/awesomeSweets-alt.png') no-repeat;
    transition: 1s;
    color: tomato;
}

.block-two {
    background: url('/img/sectionTwo/organicFood.png') no-repeat;
    width: 500px;
    height: 310px;
}

.block-two:hover {
    background: url('/img/sectionTwo/organicFood-alt.png') center no-repeat;
    transition: 1s;
}

.block-three {
    background: url('/img/sectionTwo/tastyMeat.png') no-repeat;
    width: 500px;
    height: 310px;
}

.block-three:hover {
    background: url('/img/sectionTwo/tastyMeat-alt.png') center no-repeat;
    transition: 1s;
}

.block-four {
    background: transparent;
    width: 384px;
    height: 369px;
}

.block-four:hover {
    background: rgba(255, 30, 0, 0.5);
    transition: 1s;
}

.block-five {
    background: url('/img/sectionTwo/juicyFruits.png') no-repeat;
    width: 616px;
    height: 369px;
}

.block-five:hover {
    background: url('/img/sectionTwo/juicyFruits-alt.png') no-repeat;
    transition: 1s;
}

.block-one, .block-two, .block-three, .block-four, .block-five {
    float: left;
    border: none;
    position: relative;
}

.block-one p, .block-two p, .block-three p, .block-five p {
    position: absolute;
    left: 0;
    bottom: 0;
}

main section p {
    display: block;
    float: left;
    padding: 30px 30px;
    border: none;
    text-transform: uppercase;
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    font-weight: 100;
}

main section p span {
    font-weight: 700;
}

.block-four p {
    color: #fcdb5a;
    padding: 70px 80px;
    font-size: 40px;
    line-height: 50px;
}


/* Section #3 */


main section:nth-child(3) {
    padding-top: 150px;
    position: relative;
    z-index: auto;
}

main section:nth-child(3) img {
    display: block;
    float: left;
}

main section:nth-child(3) img:first-of-type {
    padding-top: 40px;
    position: relative;
    z-index: 1;
}

main section:nth-child(3) img:last-of-type {
    position: absolute;
    z-index: 2;
    right: 610px;
}

.qualityFood {
    width: 590px;
    overflow: hidden;
    position: absolute;
    z-index: 3;
    right: 135px;
    bottom: 60px;
}

main section:nth-child(3) p {
    margin: 0;
    padding: 0 10px;
}

main section:nth-child(3) p:first-child {
    padding-top: 30px;
}

main section:nth-child(3) p span {
    display: inline-block;
    float: none;
    clear: none;
    color: rgb(251, 132, 111);
    text-transform: none;
    font-size: 100px;
    font-weight: 400;
    margin: 0px 35px 0px 0px;
}

.qualityFood p:nth-child(1) span:nth-child(1) {
    color: #fde557;
}
.qualityFood p:nth-child(1) span:nth-child(2) {
    color: #e5248a;
}
.qualityFood p:nth-child(2) span:nth-child(1) {
    color: #e5248a;
}
.qualityFood p:nth-child(2) span:nth-child(2) {
    color: #73b63c;
}
.qualityFood p:nth-child(3) span:nth-child(1) {
    color: #73b63c;
}
.qualityFood p:nth-child(3) span:nth-child(2) {
    color: #f7ab32;
}
.qualityFood p:nth-child(4) span:nth-child(1) {
    color: #f7ab32;
}
.qualityFood p:nth-child(4) span:nth-child(2) {
    color: #4bbdd5;
}


/* Section #4 */


main section:nth-child(4) {
    width: 1170px;
    padding-top: 140px;
    padding-bottom: 130px;
}

main section:nth-child(4) p {
    float: none;
    text-align: center;
    color: #2e2e2e;
    margin: 0;
    padding: 0;
}

main section:nth-child(4) p span {
    font-weight: 900;
}

main section:nth-child(4) p:nth-child(2) {
    color: rgba(191,191,191, 0.6);
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 23px;
    text-transform: none;
    padding: 20px 220px;
    line-height: 35px;
}

.foodServices {
    margin-top: 80px;
    overflow: hidden;
}

.item-wrap {
    width: 16.65%;
    display: block;
    float: left;
    text-align: center;
}

main section:nth-child(4) .item-wrap p {
    margin: 25px 0 0 0;
    padding: 0;
    color: #2e2e2e;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 700;
    text-transform: none;
}

.img-wrap {
    width: 100%;
    overflow: hidden;
}

main section:nth-child(4) .img-wrap img {
    float: none;
    margin: 0 auto;
}

/* Section #5 */

main section:nth-child(5) {
    width: 1600px;
    padding: 140px 0;
    background-image: url('../img/bg/second-bg.png');
    background-color: #f9f9f9;
    background-repeat: no-repeat;
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
}

.wrapper {
    width: 1170px;
    overflow: hidden;
    margin: 0 auto;
}

main section:nth-child(5) p {
    color: white;
    line-height: 45px;
    margin: 0;
    padding: 0;
}

main section:nth-child(5) p:nth-child(2) {
    color: rgba(191,191,191, 0.9);
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-transform: none;
    padding: 40px 580px 0px 0px;
    line-height: 26px;
}

main section:nth-child(5) button {
    float: left;
    background-color: #fcdb5a;
    margin: 35px 0 100px 0;
    padding: 18px 50px;
}

main section:nth-child(5) button:hover {
    background-color: rgba(0, 4, 10, 0.7);
    color: white;
}

.row {
    overflow: hidden;
    clear: both;
    margin: 0 auto;
}

.row-item {
    float: left;
    width: 25%;
    background-color: white;
}

main section:nth-child(5) .row-item h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #333333;
    padding: 40px 35px 10px 40px;
    line-height: 26px;
}

main section:nth-child(5) .row-item p {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: rgba(102,102,102, 0.9);
    padding: 0px 35px 0px 40px;
    line-height: 26px;
}

/* Section #6 */

main section:nth-child(6) {
    width: 1600px;
    background-image: url('../img/bg/third-bg.png');
    background-repeat: no-repeat;
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
}

main section:nth-child(6) .wrap-1170px span {
    color: #d8bb90;
    font-size: 230px;
    margin: 150px 0 170px 20px;
    line-height: 180px;
}

/* Section #7 */

main section:nth-child(7) {
    width: 1170px;
    padding-top: 140px;
    padding-bottom: 130px;
}

main section:nth-child(7) p {
    float: none;
    text-align: center;
    color: #2e2e2e;
    margin: 0;
    padding: 0;
}

main section:nth-child(7) p span {
    font-weight: 900;
}

main section:nth-child(7) p:nth-child(2) {
    color: rgba(191,191,191, 0.6);
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 23px;
    text-transform: none;
    padding: 20px 220px;
    line-height: 35px;
}

.agroProgress {
    margin-top: 60px;
    overflow: hidden;
}

.item-wrap2 {
    width: 25%;
    display: block;
    float: left;
    text-align: center;
}

main section:nth-child(7) .item-wrap2 p {
    float: left;
    margin: 0px 0 0 25px;
    padding: 0;
    color: #2e2e2e;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 700;
    text-transform: none;
}

main section:nth-child(7) .item-wrap2 p:first-of-type {
    float: left;
    margin: 5px 50px 0 25px;
    padding: 0;
    color: #2e2e2e;
    font-family: 'Gilroy', sans-serif;
    font-size: 50px;
    text-transform: none;
}

.img-wrap2 {
    float: left;
    width: 50%;
}

.text-wrap {
    float: left;
    width: 50%;
}


/* Section #8 */


.row2 {
    overflow: hidden;
    clear: both;
    margin: 0 auto;
}

.row-item2 {
    float: left;
    width: 25%;
}


/* Section #9 */


main section:nth-child(9) {
    width: 1600px;
    padding: 0 0 149px 0;
    background-image: url('../img/bg/fourth-bg.png');
    background-repeat: no-repeat;
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
}

.wrapper2 {
    width: 1170px;
    overflow: hidden;
    margin: 0 auto;
    text-align: center;
}

main section:nth-child(9) p {
    color: white;
    line-height: 45px;
    float: none;
    margin: 0 auto;
    padding: 140px 0 20px 0;
}

main section:nth-child(9) p:nth-child(2) {
    color: rgba(191,191,191, 0.9);
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-transform: none;
    width: 55%;
    padding: 0;
    line-height: 26px;
}

main section:nth-child(9) p:nth-child(3) {
    float: left;
    color: #fcdb5a;
    font-family: 'Times New Roman Bold', sans-serif;
    font-size: 100px;
    text-transform: none;
    padding: 55px 0 0 0;
    text-align: left;
}

main section:nth-child(9) p:nth-child(4) {
    float: left;
    color: rgb(255, 255, 255);
    font-family: 'Times New Roman Italic', cursive;
    font-size: 25px;
    text-transform: none;
    width: 85%;
    padding: 50px 0 0 50px;
    line-height: 30px;
    text-align: left;
}

.heSaid {
    overflow: hidden;
    width: 100%;
}

.heSaid img:first-of-type {
    float: left;
    margin: 45px 20px 30px 100px;
}

.heSaid img:last-of-type {
    float: right;
    margin: 70px 100px 30px 0px;
}

main section:nth-child(9) .wrapper2 .heSaid p {
    float: left;
    color: rgb(255, 255, 255);
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 100;
    text-transform: none;
    padding: 65px 0 0 0px;
    line-height: 30px;
    text-align: left;
}


/* Section #10 */


main section:nth-child(10) {
    width: 1170px;
    padding-top: 140px;
    position: relative;
    z-index: auto;
}

main section:nth-child(10) p {
    float: none;
    text-align: center;
    color: #2e2e2e;
    margin: 0;
    padding: 0;
}

main section:nth-child(10) p span {
    font-weight: 900;
}

main section:nth-child(10) p:nth-child(2) {
    color: rgba(191,191,191, 0.6);
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 23px;
    text-transform: none;
    padding: 20px 220px;
    line-height: 35px;
}

.blogImgRow {
    width: 100%;
    overflow: hidden;
    clear: both;
    position: relative;
    z-index: 1;
    bottom: 76px;
}

.blogImg {
    width: 33.3%;
    float: left;
}

.blogDateRow {
    width: 100%;
    overflow: hidden;
    clear: both;
    position: relative;
    z-index: 2;
}

.blogDate {
    width: 33.3%;
    float: left;
}

.blogDateRow .blogDate p {
    width: 17%;
    color: #333333;
    font-family: 'Gilroy', sans-serif;
    font-size: 25px;
    background: #fde557;
    padding: 14px 0;
    margin-left: 50px;
    margin-top: 40px;
}

.blogDateRow .blogDate p span {
    color: #9a8841;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 12px;
}

.blogTextRow {
    width: 100%;
    overflow: hidden;
    clear: both;
}

.blogText {
    width: 33.3%;
    float: left;
}

.blogTextRow .blogText p {
    color: #ddc051;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    line-height: 30px;
    text-align: left;
}

.blogTextRow .blogText p span {
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    text-transform: none;
}

.blogTextRow .blogText #first {
    position: absolute;
    z-index: 2;
    left: 50px;
    bottom: 100px;
}

.blogTextRow .blogText #second {
    position: absolute;
    z-index: 2;
    left: 440px;
    bottom: 100px;
}

.blogTextRow .blogText #third{
    position: absolute;
    z-index: 2;
    left: 830px;
    bottom: 100px;
}


/* Section #11 */

main section:nth-child(11) {
    width: 1170px;
    padding: 40px 0 130px 40px;
}

.row3 {
    overflow: hidden;
    clear: both;
    margin: 0 auto;
}

.row-item3 {
    float: left;
    width: 20%;
}

main section:nth-child(11) .row-item3 img {
    float: none;
    margin: 0 auto;
}

/* Footer */

footer {
    overflow: hidden;
    clear: both;
    background: #2e2e2e;
}

.footer-wrap {
    width: 989px;
    float: left;
    overflow: hidden;
}

.map {
    width: 611px;
    float: left;
    overflow: hidden;
}

footer .footer-wrap img {
    float: left;
    margin: 80px 160px 0 220px;
}

footer ul {
    float: left;
    margin-top: 75px;
}

footer ul:last-of-type {
    margin-left: 100px;
}

footer ul li a, a:visited {
    color: #aaa;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 32px;
    text-decoration: none;
}

footer ul li a:hover {
    color: #fff;
}

/* footer: adding the line under a menu item when :hover*/
.underline2 a {
    position: relative;
    overflow: hidden;
}
.underline2 a:after {
    content: "";
    position: absolute;
    z-index: 10;
    right: 0;
    width: 0;
    top: 23px;
    background: #fcdb5a;
    height: 3px;
    transition-property: width;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
}
.underline2 a:hover:after,
.underline2 a:focus:after,
.underline2 a:active:after {
    left: 0;
    right: auto;
    width: 100%;
}
/* footer: finished adding the line under a menu item when :hover */

.contact {
    width: 670px;
    float: left;
    overflow: hidden;
    clear: both;
    margin: 50px 0px 0px 220px;
    border-bottom: 1px solid rgba(80, 80, 80, 0.7);
}

.contact p {
    float: left;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    line-height: 40px;
}

.contact p:last-of-type {
    color: #c4c4c4;
    padding-left: 65px;
}

.contact p span {
    color: #feed54;
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
}

.contact .social-medias {
    overflow: hidden;
    float: right;
    padding: 45px 15px 50px 5px;
}

.contact a {
    color: #4f4f4f;
    font-size: 25px;
    padding-right: 10px;
}

.contact a:hover {
    color: #ffffff;
}

.contact a:last-of-type {
    padding-right: 0px;
}

.notes {
    width: 670px;
    float: left;
    overflow: hidden;
    clear: both;
    margin: 0px 0px 0px 220px;
    padding: 23px 0 23px 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #7e7e7e;
}

.notes p:first-of-type {
    float: left;
}

.notes p:last-of-type {
    float: right;
}

.notes p a, a:visited {
    color: #7e7e7e;
    text-decoration: none;
}

.notes a:hover {
    color: #bbbbbb;
    text-decoration: none;
}


