/* Adding Fonts */

@font-face {
    font-family: 'Storytella';
    src: url('../fonts/storytella.otf') format('otf'),
         url('../fonts/storytella.woff2') format('woff2'),
         url('../fonts/storytella.woff') format('woff');

}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/gilroyEB.otf') format('otf'),
         url('../fonts/gilroyEB.woff2') format('woff2'),
         url('../fonts/gilroyEB.woff') format('woff');

}

@font-face {
	font-family: 'Times New Roman Italic';
	src: url('../fonts/times_new_roman_italic.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/times_new_roman_italic.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/times_new_roman_italic.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/times_new_roman_italic.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/times_new_roman_italic.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/times_new_roman_italic.svg#times_new_roman_italic') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
	font-family: 'Times New Roman Bold';
	src: url('../fonts/times_new_roman_bold.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/times_new_roman_bold.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/times_new_roman_bold.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/times_new_roman_bold.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/times_new_roman_bold.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/times_new_roman_bold.svg#times_new_roman_bold') format('svg'); /* Chrome < 4, Legacy iOS */
}

body {
    overflow-x: hidden;
    background-color: white;
    margin: 0 auto;
    min-width: 320px;
    position: relative;
    z-index: 0;
}
.main-bg {
    width: 100%;
    height: 1635px;
    clip-path: polygon(0 0, 100% 0, 100% 75%, 0% 100%);
    position: absolute;
    top: 0;
    z-index: 1;
}

.main-bg img {
    width: 100%;
}

@media (max-width: 1200px) {
    .main-bg img {
        width: 130%;
        transition: 1s;
        position: relative;
        left: -5%;
    }
}

@media (max-width: 1000px) {
    .main-bg img {
        width: 150%;
        transition: 1s;
        position: relative;
        left: -20%;
    }
}

@media (max-width: 800px) {
    .main-bg img {
        width: 200%;
        transition: 1s;
        position: relative;
        left: -50%;
    }
}
@media (max-width: 500px) {
    .main-bg img {
        width: 250%;
        transition: 1s;
        position: relative;
        left: -90%;
    }
}

/* General Container */

.container {
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}

/* General headers and text styles */

h1 {
    font-family: 'Storytella', cursive;
    font-size: 200px;
    color: white;
}

h2 {
    color: #ffffff;
    padding-bottom: 15px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    font-weight: 100;
    line-height: 50px;
}

h2.black {
    color: #2e2e2e;
}

h2 span {
    font-weight: 900;
}

h3 {
    max-width: 510px;
    margin: 0 auto;
    padding: 0px 20px;
    color: #bfbfbf;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 18px;
    text-transform: none;
    text-align: center;
    line-height: 25px;
}

/* Line under the navigation */

.line-under-nav {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    position: relative;
    top: 105px;
    z-index: 2;
}


/* Header */

header .container {
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 2;
}

header .header-left {
    display: flex;
    justify-content: left;
}

header .header_logo {
    width: 100px;
    position: relative;
    z-index: 55;
}

.header_nav {
    display: flex;
    width: 78%;
}

.header_nav ul {
    display: flex;
}

.header_nav li {
    padding: 45px 0;
    margin-right: 25px;
}

.header_nav li a, .header_nav li a:visited {
    text-decoration: none;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    padding: 42px 0;
}

.header_nav li:last-child {
    margin-right: 0px;
}

.header_nav li:first-child {
    margin-left: 60px;
}

.header_button {
    width: 150px;
}

.header_button button {
    margin-top: 28px;
    padding: 15px 30px;
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: white;
    color: #1b1b1b;
    border: solid transparent 3px;
    border-radius: 30px;
    transition: 0.5s;
}

.header_button button:hover {
    border: solid #fcdb5a 3px;
    background-color: transparent;
    color: #fcdb5a;
}

.header_button button:active {
    box-shadow: 0px 0px 15px #ccc;
    transition: 0.1ms;
}

header .container:nth-of-type(2) {
    z-index: 1;
}

.header_main-title {
    min-height: 720px;
    max-width: 300px;
    overflow: visible;
    display: flex;
    align-items: center;
}

/* Resp-Header */

#checkbox_toggle {
    display: none;
}

@media (max-width: 500px) {
    .container {
        padding: 0 5px;
    }
    body header .header-left {
        width: 39%;
    }
    header .header_main-title {
        font-size: 100px;
        transition: 1s;
    }
    header .header_button button {
        padding: 15px 20px;
        font-size: 12px;
        font-weight: 700;
        border-radius: 30px; 
    }
    .dropdown .hamburger {
        top: 40px;
        right: 10px;
    }
    .header_logo a img {
        border-radius: 0px 0px 20px 0px;
    }
}

@media (min-width: 800px) {
    .header-mobile-icon {
        display: none;
    }
}

@media (max-width: 800px) {
    header .container:nth-of-type(1) {
        min-height: 90px;
        position: relative;
        justify-content: left;
    }
    header .header_main-title {
        min-height: 633px;
        transition: 1s;
    }

    header .header-left {
        width: 40%;
    }

    header .header_button {
        width: 60%;
    }

    .header_nav ul {
        width: 100%;
        margin-top: 105px;
        background: rgba(0, 0, 0, 0.9);
        transition: all 1s cubic-bezier(.325, 1, .22, 1);
        display: flex;
        flex-direction: column;
        position: absolute;
        z-index: 50;
        left: -100%;
    }
    
    .header_nav li:first-child {
        margin-left: 0px;
    }

    .header_nav li {
        color: #fff;
        font-size: 20px;
        text-transform: uppercase;
        text-align: center;
        padding: 5px 0;
        display: flex;
        justify-content: center;
        margin-right: 0px;
    }
    
    .header_nav li a, .header_nav li a:hover {
        text-decoration: none;
    }

        
    input[type=checkbox] {
        display: none;
    }
    
    input[type=checkbox]:checked ~ .header_nav ul {
        position: absolute;
        left: 0;
    }
    
    .hamburger {
        display: block;
        position: absolute;
        top: 40px;
        right: 30px;
        height: 40px;
        width: 40px;
        cursor: pointer;
        transition: all 1s cubic-bezier(.19, 1, .22, 1);
    }
    
    .line {
        position: absolute;
        display: block;
        background: #ffffff;
        width: 30px;
        height: 2px;
        border-radius: 2px;
        left: 0;
        transition: all .6s cubic-bezier(.5, .1, 0, 1.2);
    }
    
    .line-1 {
        top: 0;
    }
    
    .line-2 {
        top: 10px;
    }
    
    .line-3 {
        top: 20px;
    }
    
    input[type=checkbox]:checked ~ label .line-1 {
        top: 0px;
        width: 35px;
        transform: translateX(-11px) rotate(-45deg) translateY(12px);
    }
    
    input[type=checkbox]:checked ~ label .line-2 {
        opacity: 0;
    }
    
    input[type=checkbox]:checked ~ label .line-3 {
        top: 14px;
        width: 35px;
        transform: translateX(-8px) rotate(45deg) translateY(-8px);
    }
    .header_main-title {
        font-size: 160px;
        margin-left: 20px;
        transition: 1s;
    }
} 


/* Resp-Section #1: Agro Awesome */

@media (max-width: 1420px) {
    .section-1_agro-awesome .container-xl {
        width: 100%;
        padding: 0px;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .agro-awesome_first-part {
        display: none;
    }

    .agro-awesome_second-part {
        justify-content: center;
        order: 0;
    }

    .agro-awesome_second-part .block-four {
        text-align: center;
        width: 100%;
        max-width: 1000px;
        height: 250px;
        background-color: rgba(26, 26, 26, 0.6);
        order: -1;
    }

    .agro-awesome_second-part .block-four h2 {
        text-align: center;
    }

    .agro-awesome_second-part .block-five {
        width: 500px;
        height: 310px;
    }

    .agro-awesome_second-part .block-six {
        display: block;
        background: url('../img/section-1/awesomeSweets.jpg') no-repeat bottom left;
        background-size: 1000px 893px;
        width: 500px;
        height: 310px;
        border: none;
        position: relative;
    }
    .agro-awesome_second-part .block-six:hover {
        background-position-y: 57%;
        background-position-x: 100%;
        transition: 1s;
    }
    .agro-awesome_second-part .block-six h2 {
        padding: 0px 30px;
        font-size: 30px;
        font-weight: 100;
        text-align: left;
        line-height: 33px;
        position: absolute;
        left: 0;
        bottom: 35px;
    }
    .agro-awesome_second-part .block-six h2 span {
        display: block;
        font-weight: 700;
    }
}
@media (max-width: 606px) {
    .agro-awesome_second-part .block-four h2 {
        padding: 50px 80px;
    }
}
@media (max-width: 500px) {
    .agro-awesome_second-part .block-one h2, 
    .agro-awesome_second-part .block-two h2, 
    .agro-awesome_second-part .block-three h2, 
    .agro-awesome_second-part .block-five h2, 
    .agro-awesome_second-part .block-six h2 {
        padding: 0px 100px;
    }
}


/* Section #1: Agro Awesome */


.container-xl {
    width: 1380px;
    padding: 0 10px;
    margin: 0 auto;
} /* General container doesn't fit the section's content,
     so creating here the wider one */

.section-1_agro-awesome .container-xl {
    display: flex;
    position: relative;
    z-index: 2;
}

.agro-awesome_second-part {
    display: flex;
    flex-wrap: wrap;
}

.block-one {
    background: url('../img/section-1/awesomeSweets.jpg') no-repeat;
    width: 380px;
    height: 679px;
}

.block-one:hover {
    background-position-x: 100%;
    transition: 1s;
}

.block-two {
    background: url('../img/section-1/organicFood.jpg') no-repeat center center;
    background-size: 100%;
    width: 500px;
    height: 310px;
}

.block-two:hover {
    background-size: 120%;
}

.block-three {
    background: url('../img/section-1/tastyMeat.jpg') no-repeat center center;
    background-size: 100%;
    width: 500px;
    height: 310px;
}

.block-three:hover {
    background-size: 120%;
}

.block-four {
    background: transparent;
    width: 384px;
    height: 369px;
}

.block-five {
    background: url('../img/section-1/juicyFruits.jpg') no-repeat;
    width: 616px;
    height: 369px;
}

.block-six {
    display: none;
}

.block-five:hover {
    background-position-y: 100%;
}

.block-one, .block-two, .block-three, .block-four, .block-five, .block-six {
    border: none;
    position: relative;
    transition: 1s;
}

.block-one h2, .block-two h2, .block-three h2, .block-five h2 {
    padding: 0px 30px;
    font-size: 30px;
    font-weight: 100;
    text-align: left;
    line-height: 33px;
    position: absolute;
    left: 0;
    bottom: 35px;
}

.block-one h2 span, .block-two h2 span, .block-three h2 span, .block-five h2 span {
    display: block;
    font-weight: 700;
}

.block-four h2 {
    color: #fcdb5a;
    padding: 70px 80px;
    font-size: 40px;
    line-height: 50px;
    text-align: left;
}

.block-four h2 span {
    display: block;
    font-weight: 700;
}

    /* Resp-Section #2: Agro Awesome */

@media (max-width: 1050px) {
    main .section2_quality-food .container {
        background-position: 400px 0px, -30px 40px;
        transition: 1s; 
    }    
}
@media (max-width: 1000px) {
    main .section2_quality-food .container {
        background-position: 350px 0px, -80px 40px;
        transition: 1s; 
    }    
}
@media (max-width: 950px) {
    main .section2_quality-food .container {
        background-position: 300px 0px, -130px 40px;
        transition: 1s; 
    }    
}
@media (max-width: 900px) {
    main .section2_quality-food .container {
        background-position: 250px 0px, -180px 40px;
        transition: 1s; 
    }    
}
@media (max-width: 850px) {
    main .section2_quality-food .container {
        background-position: 200px 0px, -230px 40px;
        transition: 1s; 
    }    
}
@media (max-width: 800px) {
    main .section2_quality-food .container {
        background-position: 150px 0px, -280px 40px;
        transition: 1s; 
    }    
}
@media (max-width: 750px) {
    main .section2_quality-food .container {
        background-position: 100px 0px, -330px 40px;
        transition: 1s; 
    }    
}
@media (max-width: 700px) {
    main .section2_quality-food .container {
        background-position: 50px 0px, -380px 40px;
        transition: 1s; 
    }    
}
@media (max-width: 650px) {
    main .section2_quality-food .container {
        background-position: 0px 0px, -430px 0px;
        transition: 1s; 
    }    
}

@media (max-width: 600px) {
    main .section2_quality-food .container {
        background-position: 45px 40px, -430px 0px;
        transition: 1s; 
    } 
    .section2_quality-food .quality-food_text-wrap {
        margin-top: 75px;
        padding: 70px 0 115px 20px;
        transition: 1s;
    }
    .section2_quality-food .quality-food_text-wrap p span {
        font-size: 75px;
        transition: 1s;
    }
}
@media (max-width: 500px) {
    main .section2_quality-food {
        padding-top: 40px;
    }
    main .section2_quality-food .container {
        justify-content: flex-start;
    }
    main .section2_quality-food .quality-food_text-wrap {
        padding: 120px 20px 140px 85px;
        transition: 1s;
    }
    .section2_quality-food .quality-food_text-wrap p span {
        font-size: 48px;
        margin-right: 15px;
        transition: 1s;
    }
}
@media (max-width: 350px) {
    main .section2_quality-food {
        padding-top: 60px;
    }
    main .section2_quality-food .container {
        background-position: -8px 0px, -430px 0px;
        transition: 1s; 
    }
    main .section2_quality-food .quality-food_text-wrap {
        padding: 120px 20px 140px 35px;
        transition: 1s;
    }
}


/* Section #2: Quality Food */


.section2_quality-food {
    padding-top: 150px;
}

.section2_quality-food .container {
    background-image: url('../img/section-2/qualityFoodFragment.jpg'), url('../img/section-2/qualityFood.jpg');
    background-repeat: no-repeat, no-repeat;
    background-position: 445px 0px, 15px 40px;
    display: flex;
    justify-content: flex-end;
    position: relative;
    z-index: 2;
}

.section2_quality-food p span {
    color: rgb(251, 132, 111);
    font-family: 'Storytella', cursive;
    font-size: 100px;
    font-weight: 400;
    text-transform: none;
    margin-right: 35px;
}

.quality-food_text-wrap {
    padding: 70px 0 65px 10px;
}

.section2_quality-food p:nth-child(3) span:nth-child(2) {
    margin-right: 0px;
}

.quality-food_text-wrap p:nth-child(1) span:nth-child(1) {
    color: #fde557;
}
.quality-food_text-wrap p:nth-child(1) span:nth-child(2) {
    color: #e5248a;
}
.quality-food_text-wrap p:nth-child(2) span:nth-child(1) {
    color: #e5248a;
}
.quality-food_text-wrap p:nth-child(2) span:nth-child(2) {
    color: #73b63c;
}
.quality-food_text-wrap p:nth-child(3) span:nth-child(1) {
    color: #73b63c;
}
.quality-food_text-wrap p:nth-child(3) span:nth-child(2) {
    color: #f7ab32;
}
.quality-food_text-wrap p:nth-child(4) span:nth-child(1) {
    color: #f7ab32;
}
.quality-food_text-wrap p:nth-child(4) span:nth-child(2) {
    color: #4bbdd5;
}

    /* Resp-Section #3: Agro Services */

@media (max-width: 1100px) {
    main .section3_agro-services {
        padding-top: 100px;
        padding-bottom: 90px;
    }
    .section3_agro-services .agro-services_icons_item-wrap {
        width: 33%;
        padding-bottom: 40px;
    }
}

@media (max-width: 600px) {
    .section3_agro-services .agro-services_icons_item-wrap {
        width: 50%;
    }
}

@media (max-width: 500px) {
    main .section3_agro-services {
        padding-top: 30px;
        padding-bottom: 40px;
    }
    .section3_agro-services .agro-services_icons {
        margin-top: 40px;
    }
    .section3_agro-services .agro-services_icons_item-wrap .icon-img {
        width: 160px;
    }
    .section3_agro-services .agro-services_icons_item-wrap .icon-img:hover {
        background-position-y: 60px;
        transition: 1s;
    }
    .section3_agro-services .agro-services_icons_item-wrap .steak {
        background-position: -15px 0px;
    }
    .section3_agro-services .agro-services_icons_item-wrap .cereals {
        background-position: -215px 0px;
    }
    .section3_agro-services .agro-services_icons_item-wrap .pizza {
        background-position: -415px 0px;
    }
    .section3_agro-services .agro-services_icons_item-wrap .vburger {
        background-position: -615px 0px;
    }
    .section3_agro-services .agro-services_icons_item-wrap .cupcake {
        background-position: -815px 0px;
    }
    .section3_agro-services .agro-services_icons_item-wrap .vegies {
        background-position: -1015px 0px;
    }
}

/* Section #3: Agro Services */


.section3_agro-services {
    padding-top: 140px;
    padding-bottom: 130px;
}

.agro-services_icons {
    display: flex;
    flex-wrap: wrap;
    margin-top: 80px;
}

.agro-services_icons_item-wrap {
    width: 16.65%;
    text-align: center;
}

.agro-services_icons_item-wrap .icon-img {
    margin: 0 auto;
}

.agro-services_icons_item-wrap p {
    margin: 25px 0 5px 0;
    padding: 0;
    color: #2e2e2e;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 700;
    text-transform: none;
}

.agro-services_icons_item-wrap .steak {
    width: 200px; height: 56px;
    background: url('../img/section-3/icons-sprite.png') -5px 0px;
}

.agro-services_icons_item-wrap .cereals {
    width: 200px; height: 56px;
    background: url('../img/section-3/icons-sprite.png') -205px 0px;
}

.agro-services_icons_item-wrap .pizza {
    width: 200px; height: 56px;
    background: url('../img/section-3/icons-sprite.png') -405px 0px;
}

.agro-services_icons_item-wrap .vburger {
    width: 200px; height: 56px;
    background: url('../img/section-3/icons-sprite.png') -605px 0px;
}

.agro-services_icons_item-wrap .cupcake {
    width: 200px; height: 56px;
    background: url('../img/section-3/icons-sprite.png') -805px 0px;
}

.agro-services_icons_item-wrap .vegies {
    width: 200px; height: 56px;
    background: url('../img/section-3/icons-sprite.png') -1005px 0px;
}

.steak:hover, .pizza:hover, .cupcake:hover {
    background-position-y: -62px;
    transition: 1s;
}

.cereals:hover, .vburger:hover, .vegies:hover {
    background-position-y: 60px;
    transition: 1s;
}

    /* Resp-Section #4: Agro Perfect */

@media (max-width: 350px) {
    body main .section4_agro-perfect {
        background-size: 700%;
    }
    main .section4_agro-perfect .container h3 {
        font-size: 20px;
        line-height: 30px;
    }
}

@media (max-width: 400px) {
    body main .section4_agro-perfect {
        background-size: 650%;
    }
}

@media (max-width: 500px) {
    main .section4_agro-perfect h2 {
        padding-top: 60px;
        max-width: none;
        text-align: center;
    }
    main .section4_agro-perfect h3 {
        padding: 25px 10px 0px 10px;
        font-size: 16px;
        font-weight: 300;
        line-height: 25px;
    }
    .section4_agro-perfect .agro-perfect_btn button {
        margin: 30px 0 40px 0;
    }
    .section4_agro-perfect .agro-perfect_row .perfect_img {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .section4_agro-perfect .agro-perfect_row .perfect_txt {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .section4_agro-perfect .agro-perfect_row .perfect_txt p, .section4_agro-perfect .agro-perfect_row .perfect_txt h4 {
        text-align: center;
    }
    .section4_agro-perfect .agro-perfect_row .perfect_img img {
        width: 100%;
    }
    .agro-perfect_row .agro-perfect_row-item:nth-of-type(1) {
        order: 1;
    }
    .agro-perfect_row .agro-perfect_row-item:nth-of-type(2) {
        order: 2;
    }
    .agro-perfect_row .agro-perfect_row-item:nth-of-type(3) {
        order: 3;
    }
    .agro-perfect_row .agro-perfect_row-item:nth-of-type(4) {
        order: 4;
    }
    .agro-perfect_row .agro-perfect_row-item:nth-of-type(5) {
        order: 6;
    }
    .agro-perfect_row .agro-perfect_row-item:nth-of-type(6) {
        order: 5;
    }
    .agro-perfect_row .agro-perfect_row-item:nth-of-type(7) {
        order: 8;
    }
    .agro-perfect_row .agro-perfect_row-item:nth-of-type(8) {
        order: 7;
    }
    .section4_agro-perfect .agro-perfect_row .agro-perfect_row-item p {
        padding: 0px 25px 30px 25px;
    }
}

@media (max-width: 600px) {
    main .section4_agro-perfect {
        background-size: 530%;
    }
    main .section4_agro-perfect h3 {
        text-align: justify;
        color: rgb(211, 211, 211);
        font-size: 25px;
        line-height: 35px;
    }
    .agro-perfect_btn {
        margin: 0 auto;
    }
}

@media (max-width: 1080px) {
    main .section4_agro-perfect .container {
        padding: 15px;
    }
    .section4_agro-perfect .agro-perfect_row {
        margin: 0 auto;
        width: 80%;
        overflow: hidden;
    }
    .agro-perfect_row .perfect_img {
        width: 40%;
    }
    .agro-perfect_row .perfect_txt {
        width: 60%;
    }
    .agro-perfect_row-item:nth-of-type(1) {
        order: 1;
    }
    .agro-perfect_row-item:nth-of-type(2) {
        order: 2;
    }
    .agro-perfect_row-item:nth-of-type(3) {
        order: 5;
    }
    .agro-perfect_row-item:nth-of-type(4) {
        order: 6;
    }
    .agro-perfect_row-item:nth-of-type(5) {
        order: 3;
    }
    .agro-perfect_row-item:nth-of-type(6) {
        order: 4;
    }
    .agro-perfect_row-item:nth-of-type(7) {
        order: 7;
    }
    .agro-perfect_row-item:nth-of-type(8) {
        order: 8;
    }
}
@media (max-width: 620px) {
    .section4_agro-perfect .agro-perfect_row {
        margin: 0 auto;
        width: 95%;
        overflow: hidden;
    }
    .agro-perfect_row .perfect_img {
        width: 45%;
    }
    .agro-perfect_row .perfect_txt {
        width: 55%;
    }
    .agro-perfect_row .agro-perfect_row-item h4 {
        padding: 30px 25px 10px 25px;
    }   
    .agro-perfect_row .agro-perfect_row-item p {
        padding: 0px 25px 0px 25px;
    }
}


/* Section #4: Agro Perfect */

.section4_agro-perfect {
    background-color: #f9f9f9;
}

.section4_agro-perfect .container-xxl:first-of-type {
    background:  #f9f9f9 url('../img/bg/second-bg.jpg') center top no-repeat;
    background-size: cover;
    min-height: 693px;
}

.section4_agro-perfect .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section4_agro-perfect h2 {
    text-align: left;
    padding: 135px 0 0 0;
    max-width: 300px;
}

.section4_agro-perfect h3 {
    margin: 0px;
    max-width: 530px;
    font-weight: 400;
    font-size: 14px;
    text-align: left;
    color: #c5c5c5;
    padding: 25px 20px 0px 3px;
    line-height: 20px;
}

.agro-perfect_btn button {
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: #fcdb5a;
    color: #1b1b1b;
    margin: 50px 0 110px 0;
    padding: 18px 50px;
    border: solid transparent 3px;
    border-radius: 30px;
    transition: 0.5s;
}

.agro-perfect_btn button:hover {
    border: solid #fcdb5a 3px;
    background-color: transparent;
    color: #fcdb5a;
}

.agro-perfect_btn button:active {
    box-shadow: 0px 0px 15px #ccc;
    transition: 0.1ms;
}

.agro-perfect_mozaic {
    position: relative;
    top: -110px;
}

.agro-perfect_row {
    display: flex;
    flex-wrap: wrap;
}

.agro-perfect_row-item {
    width: 25%;
    background-color: white;
}

.agro-perfect_row-item h4 {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #333333;
    padding: 40px 35px 10px 40px;
    line-height: 26px;
}

.agro-perfect_row-item p {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: rgba(102,102,102, 0.9);
    padding: 0px 35px 0px 40px;
    line-height: 26px;
    text-align: left;
}


        /* Resp-Tasty Cakes */

@media (max-width: 1200px) {
    main .section4_agro-perfect .container-xxl:last-of-type {
        background-position: -400px 0px;
        transition: 1s;
    }
}

@media (max-width: 1000px) {
    main .section4_agro-perfect .container-xxl:last-of-type {
        background-position: -600px 0px;
        transition: 1s;
    }
}        

@media (max-width: 800px) {
    main .section4_agro-perfect .container-xxl:last-of-type {
        background-position: -800px 0px;
        transition: 1s;
    }
    .section4_agro-perfect .agro-perfect_cakes {
        margin-top: 40px;
        margin-left: 20px;
        transition: 1s;
    }
    .section4_agro-perfect .agro-perfect_cakes h1 {
        margin-top: 250px;
        color: #d8bb90;
        font-size: 200px;
        text-shadow: 0px 0px 3px rgb(63, 25, 0);
        line-height: 180px;
        transition: 1s;
    }
}

@media (max-width: 500px) {
    main .section4_agro-perfect .container-xxl:last-of-type {
        background-position: -950px 0px;
        transition: 1s;
    }
    .section4_agro-perfect .agro-perfect_cakes {
        margin-top: 20px;
        transition: 1s;
    }
    .section4_agro-perfect .agro-perfect_cakes h1 {
        margin-top: 450px;
        color: #d8bb90;
        font-size: 140px;
        text-shadow: 0px 0px 3px rgb(63, 25, 0);
        line-height: 130px;
        transition: 1s;
    }
}

    /* Tasty Cakes */

.section4_agro-perfect .container-xxl:last-of-type {
    background: url('../img/bg/third-bg.jpg') center top no-repeat;
    background-size: cover;
} /* Container for the new bg */

.agro-perfect_cakes {
    min-height: 700px;
    display: flex;
}

.agro-perfect_cakes h1 {
    max-width: 300px;
    overflow: visible;
    color: #d8bb90;
    font-size: 230px;
    line-height: 180px;
}


    /* Resp-Section #5: Agro Progress */

@media (max-width: 500px) {
    body main .section5_agro-progress {
        padding: 60px 0;
    }
    main .section5_agro-progress .agro-progress_items_item-wrap {
        width: 100%;
    }
}    

@media (max-width: 950px) {
    main .section5_agro-progress {
        padding-top: 100px;
    }
    .section5_agro-progress .agro-progress_items {
        flex-wrap: wrap;
        margin-top: 20px;
    }
    .section5_agro-progress .agro-progress_items_item-wrap {
        padding-top: 20px;
        width: 50%;
    }
    .agro-progress_items_item-wrap .agro-progress_items_item-wrap_img-wrap {
        width: 40%;
    }
    
    .agro-progress_items_item-wrap .agro-progress_items_item-wrap_text-wrap {
        width: 60%;
    }
}

/* Section #5: Agro Progress */


.section5_agro-progress {
    padding-top: 140px;
    padding-bottom: 100px;
}

.agro-progress_items {
    display: flex;
    margin-top: 60px;
}

.agro-progress_items_item-wrap {
    width: 25%;
    text-align: left;
    display: flex;
    justify-content: center;
}

.agro-progress_items_item-wrap p {
    margin: 5px 0 0 25px;
    padding: 0;
    color: #2e2e2e;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 700;
    text-transform: none;
}

.agro-progress_items_item-wrap p:first-of-type {
    margin: 5px 50px 0 25px;
    font-family: 'Gilroy', sans-serif;
    font-size: 50px;
}

.agro-progress_items_item-wrap_img-wrap {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.agro-progress_items_item-wrap_text-wrap {
    width: 50%;
}

    /* Resp-Section #6: Imgs Wall */ 
@media (max-width: 500px) {
    main .section6_imgs-wall .imgs-wall_row .imgs-wall_row_item {
        width: 320px;
    }
}
@media (max-width: 1640px) {
    main .section6_imgs-wall {
        background-image: linear-gradient(to top, #24292c, #55585b, #8a8c8e, #c3c4c5, #ffffff);
    }
    .section6_imgs-wall .imgs-wall_row {
        max-width: 1200px;
    }
    .section6_imgs-wall .imgs-wall_row .imgs-wall_row_item {
        width: 300px;
        height: 300px;
    }
    .imgs-wall_row .imgs-wall_row_item:hover {
        background-size: 110%;
    }
}
@media (max-width: 1240px) {
    .section6_imgs-wall .imgs-wall_row {
        max-width: 1000px;
    }
    .section6_imgs-wall .imgs-wall_row .imgs-wall_row_item {
        width: 400px;
    }
}
@media (max-width: 840px) {
    .section6_imgs-wall .imgs-wall_row .imgs-wall_row_item {
        width: 350px;
        height: 300px;
    }
    .imgs-wall_row .imgs-wall_row_item:hover {
        background-size: 110%;
    }
}
@media (max-width: 740px) {
    .section6_imgs-wall .imgs-wall_row .imgs-wall_row_item {
        width: 300px;
        height: 250px;
    }
    .imgs-wall_row .imgs-wall_row_item:hover {
        background-size: 110%;
    }
}
@media (max-width: 640px) {
    .section6_imgs-wall .imgs-wall_row .imgs-wall_row_item {
        width: 400px;
    }
}

/* Section #6: Imgs Wall */


.section6_imgs-wall {
    width: 100%;
    display: flex;
    justify-content: center;
}

.imgs-wall_row {
    max-width: 1600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.imgs-wall_row_item {
    width: 400px;
    height: 370px;
    position: relative;
}

.imgs-wall_row_item_hide-text {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(56, 33, 23, 0.6);
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    visibility: hidden;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.2s, visibility 0.2s;
}

.imgs-wall_row_item:hover .imgs-wall_row_item_hide-text {
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}

.imgs-wall_row_item:hover {
    background-size: 101%;
}

.imgs-wall_row_item-1 {
    background: url('../img/section-6/1.jpg') center no-repeat;
    background-size: cover;
}
.imgs-wall_row_item-2 {
    background: url('../img/section-6/2.jpg') center no-repeat;
    background-size: cover;
}
.imgs-wall_row_item-3 {
    background: url('../img/section-6/3.jpg') center no-repeat;
    background-size: cover;
}
.imgs-wall_row_item-4 {
    background: url('../img/section-6/4.jpg') center no-repeat;
    background-size: cover;
}
.imgs-wall_row_item-5 {
    background: url('../img/section-6/5.jpg') center no-repeat;
    background-size: cover;
}
.imgs-wall_row_item-6 {
    background: url('../img/section-6/6.jpg') center no-repeat;
    background-size: cover;
}
.imgs-wall_row_item-7 {
    background: url('../img/section-6/7.jpg') center no-repeat;
    background-size: cover;
}
.imgs-wall_row_item-8 {
    background: url('../img/section-6/8.jpg') center no-repeat;
    background-size: cover;
}


    /* Resp-Section #7: Feedback */ 

@media (max-width: 500px) {
    .owl-dots {
        bottom: 20px !important;
        right: 130px !important;
    }
}
        
@media (max-width: 900px) {
    main .section7_feedback h2 {
        padding-top: 90px;
        transition: 1s;
    }
}
@media (max-width: 800px) {
    .feedback_review .feedback_review-quotation {
        font-size: 70px;
        padding: 25px 0 0 5px;
        transition: 1s;
    }
    .feedback_review .feedback_review-text {
        font-size: 20px;
        padding: 30px 30px 0 20px;
        line-height: 27px;
        text-align: justify;
        transition: 1s;
    }
    .section7_feedback .feedback_credentials p span {
        display: block;
    }
}

@media (min-width: 1200px) {
    .section7_feedback h2 {
        padding-top: 90px;
        transition: 1s;
    }
}

/* Section #7: Feedback */


.section7_feedback {
    background: #25292c url('../img/bg/fourth-bg.jpg') center bottom no-repeat;
    background-size: cover;
    min-height: 714px;
}

.section7_feedback .container {
    display: flex;
    flex-direction: column;
}

.section7_feedback h2 {
    padding-top: 140px;
}

.section7_feedback h3 {
    color: #b3b3b3;
}

.feedback_review {
    display: flex;
}

.feedback_review-quotation {
    color: #fcdb5a;
    font-family: 'Times New Roman Bold', sans-serif;
    font-size: 100px;
    text-transform: none;
    padding: 25px 0 0 10px;
}

.feedback_review-text {
    color: rgb(255, 255, 255);
    font-family: 'Times New Roman Italic', cursive;
    font-size: 25px;
    text-transform: none;
    width: 1005px;
    padding: 50px 20px 0 40px;
    line-height: 30px;
    text-align: left;
}

.feedback_credentials {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.feedback_credentials img {
    margin: 45px 20px 30px 100px;
}

.feedback_credentials p {
    width: 70%;
    color: rgb(255, 255, 255);
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-transform: none;
    line-height: 30px;
    text-align: left;
    padding-top: 15px;
}

.feedback_credentials p span {
    font-weight: 700;
}

/* Owl Carousel Styles Changes */ 

main .owl-carousel .owl-item img {
    display: block;
    width: initial;
}

.owl-carousel {
    position: relative !important;
}

.owl-dots {
    display: flex !important;
    justify-content: flex-end !important;
    position: absolute !important;
    bottom: 90px;
    right: 85px;
}
.owl-dot {
    margin-right: 11px !important;
    border: solid 3px #4b4b4c !important;
    border-radius: 50% !important;
    background: transparent !important;
    width: 12px !important;
    height: 12px !important;
}
.owl-dots .active {
    border: solid 3px #fde557 !important;
    background: #fde557 !important;
}


    /* Resp-Section #8: Blog */

@media (max-width: 1180px) {
    .section8_blog .blog_posts a, .section8_blog .blog_posts a:visited, .section8_blog .blog_posts a:hover {
        width: 340px;
        height: 360px;
        transition: 1s;
    }
    .section8_blog .blog_posts_the-post_title {
        padding: 206px 0 25px 25px;
        transition: 1s;
    }
    .section8_blog .blog_posts_the-post_date p {
        margin: 0 250px 0 30px;
        transition: 1s;
    }
    .section8_blog .blog_posts_the-post_title p {
        width: 200px;
    }
}
@media (max-width: 1080px) {
    .section8_blog .blog_posts a, .section8_blog .blog_posts a:visited, .section8_blog .blog_posts a:hover {
        width: 300px;
        height: 320px;
        transition: 1s;
    }
    .section8_blog .blog_posts_the-post_title {
        padding: 146px 0 25px 25px;
        transition: 1s;
    }
    .section8_blog .blog_posts_the-post_date p {
        margin: 0 210px 0 30px;
        transition: 1s;
    }
}
@media (max-width: 980px) {
    .section8_blog .blog_posts a, .section8_blog .blog_posts a:visited, .section8_blog .blog_posts a:hover {
        width: 260px;
        height: 300px;
        transition: 1s;
    }
    .section8_blog .blog_posts_the-post_title {
        padding: 126px 0 25px 25px;
        transition: 1s;
    }
    .section8_blog .blog_posts_the-post_date p {
        margin: 0 170px 0 30px;
        transition: 1s;
    }
}
@media (max-width: 850px) {
    main .section8_blog h3 {
        padding-bottom: 30px;
        transition: 1s;
    }
    .section8_blog .blog_posts a, .section8_blog .blog_posts a:visited, .section8_blog .blog_posts a:hover {
        width: 400px;
        height: 400px;
        transition: 1s;
    }
    .section8_blog .blog_posts_the-post_title {
        padding: 226px 0 25px 25px;
        transition: 1s;
    }
    .section8_blog .blog_posts_the-post_date p {
        margin: 0 300px 0 30px;
        transition: 1s;
    }

    .section8_blog .blog_posts {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: 1s;
    }
    .section8_blog .blog_posts a {
        padding-top: 30px;
        transition: 1s;
    }
    .section8_blog .blog_posts a:first-of-type {
        padding-top: 0px;
        transition: 1s;
    }
}

@media (max-width: 500px) {
    main .section8_blog h2 {
        padding-top: 60px;
    }
    main .section8_blog h3 {
        padding-bottom: 60px;
    }
    main .section8_blog .blog_posts a, .section8_blog .blog_posts a:visited, .section8_blog .blog_posts a:hover {
        width: 320px;
        height: 320px;
    }
    main .section8_blog .blog_posts_the-post_date p {
        margin: 0 230px 0 30px;
    }
    main .section8_blog .blog_posts_the-post_title {
        padding: 160px 0 25px 25px;
    }
}


/* Section #8: Blog */


.section8_blog h2 {
    padding-top: 120px;
}

.section8_blog h3 {
    padding-bottom: 60px;
}

.blog_posts {
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px;
}

.blog_posts a, .blog_posts a:visited, .blog_posts a:hover {
    display: block;
    text-decoration: none;
    width: 370px;
    height: 396px;
}

.blog_posts_link a:active {
    display: block;
    text-decoration: underline;
    color: rgba(255, 255, 255, 0.5);
}

.blog_posts_the-post_wrap {
    position: relative;
    display: flex;
    flex-direction: column;
}

.blog_posts_the-post:hover {
    transform: scale(1.01);
}

.blog_posts_the-post {
    width: 100%;
    height: 100%;
    transition: all 0.1s;
}

.blog_posts .first {
    background: url('../img/section-8/1.jpg') center no-repeat;
    background-size: cover;
}

.blog_posts .second {
    background: url('../img/section-8/2.jpg') center no-repeat;
    background-size: cover;
}

.blog_posts .third {
    background: url('../img/section-8/3.jpg') center no-repeat;
    background-size: cover;
}

.blog_posts_the-post_date p {
    color: #333333;
    font-family: 'Gilroy', sans-serif;
    font-size: 25px;
    background: #fde557;
    text-align: center;
    padding: 15px 0;
    margin: 0 280px 0 30px;
}

.blog_posts_the-post_date p span {
    display: block;
    color: #9a8841;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 12px;
}

.blog_posts_the-post_title {
    padding: 246px 0 25px 25px;
}

.blog_posts_the-post_title p span {
    display: block;
    color: #ddc051;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 28px;
    text-align: left;
    text-transform: uppercase;
}

.blog_posts_the-post_title p {
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    text-transform: none;
}

    /* Resp-Labels */

@media (max-width: 1200px) {
    .section8_blog .blog_posts {
        padding-bottom: 70px;
        transition: 1s;
    }
    main .section8_blog .container:after {
        display: block;
        content: " ";
        margin: 0 auto;
        width: 500px;
        height: 300px;
        background-image: url('../img/section-8/labels-sprite.png'), url('../img/section-8/labels-sprite.png');
        background-position: 50px 0px, -450px 150px;
        background-repeat: no-repeat;
        padding-bottom: 70px;
        transition: 0.5s;
    }   
}
@media (max-width: 500px) {
    main .section8_blog .container:after {
        display: block;
        content: " ";
        margin: 0 auto;
        width: 230px;
        height: 600px;
        background-image: url('../img/section-8/labels-sprite.png'), url('../img/section-8/labels-sprite.png'), url('../img/section-8/labels-sprite.png'), url('../img/section-8/labels-sprite.png');
        background-position: -10px 0px, -235px 150px, -755px 300px, -485px 450px;
        background-repeat: no-repeat;
        padding-bottom: 60px;
    }   
}
    /* Labels */

.section8_blog .container:after {
    display: block;
    content: " ";
    width: 100%;
    height: 164px;
    background: url('../img/section-8/labels-sprite.png') left top no-repeat;
    padding-bottom: 110px;
}


    /* Resp-Footer */ 

@media (max-width: 1550px) {
    footer .footer_map {
        width: 600px;
        height: 500px;
        overflow: hidden;
        transition: 1s;
    }
}
@media (max-width: 1490px) {
    footer .footer_main-container {
        padding-top: 20px;
        justify-content: center;
        transition: 1s;
    }
    footer .footer_map {
        margin-right: 20px;
        width: 100%;
        height: 430px;
        order: 0;
        border-radius: 20px;
        margin: 0px 20px 20px 20px;
        transition: 1s;
    }
    footer .footer_map iframe {
        width: 100%;
        height: 430px;
    }
    footer .footer_container {
        width: 100%;
        order: 1;
        background-color: #272727;
        border-radius: 20px;
        padding-top: 20px;
        margin: 0px 20px 20px 20px;
        transition: 1s;
        align-items: center;
    }
    .footer_container address .social-medias {
        padding: 20px 0px 50px 30px;
        transition: 1s;
    }
    address .contact-wrap {
        min-width: 235px;
        transition: 1s;
    }
    .footer_container .footer_nav nav {
        padding-top: 20px;
        transition: 1s;
    }
    .footer_nav nav a img {
        padding-top: 10px;
        transition: 1s;
    }
}   
@media (max-width: 720px) {
    footer .footer_main-container {
        justify-content: center;
        padding-left: 0px;
        transition: 1s;
    }
    footer .footer_map {
        width: 100%;
        height: 430px;
        order: 1;
        border-radius: 20px;
        margin: 0px 20px 20px 20px;
        transition: 1s;
    }
    footer .footer_map iframe {
        width: 100%;
        height: 430px;
    }
    footer .footer_container {
        width: 100%;
        order: 2;
        background-color: #272727;
        border-radius: 20px;
        margin: 0px 20px 20px 20px;
        transition: 1s;
    }
    .footer_container address .social-medias {
        padding: 45px 0px 50px 30px;
        transition: 1s;
    }
    address .contact-wrap {
        text-align: center;
        min-width: 235px;
        transition: 1s;
    }

    body footer ul:first-of-type {
        margin-left: 50px;
        transition: 1s;
    }
    
    body footer ul:last-of-type {
        margin-left: 40px;
        transition: 1s;
    }
    footer address {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: 1s;
    }
    footer .footer_bottomline {
        font-size: 12px;
        line-height: 20px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        transition: 1s;
    }
}
@media (max-width: 500px) {
    footer .footer_map {
        width: 100%;
        height: 430px;
        order: 1;
        border-radius: 20px;
        margin: 0px 20px 20px 20px;
        transition: 1s;
    }
    footer .footer_map iframe {
        width: 100%;
        height: 430px;
    }
    footer .footer_container {
        width: 100%;
        order: 2;
        background-color: #272727;
        border-radius: 20px;
        margin: 0px 20px 20px 20px;
        transition: 1s;
    }  
    footer .footer_nav nav {
        display: flex;
        flex-wrap: wrap;
    } 
    footer .footer_nav nav ul:last-of-type {
        margin: 0 auto;
        padding: 20px 30px;
        border-radius: 20px;
        background-color: #222222;
    }
    footer .footer_nav nav ul:first-of-type {
        margin-left: 60px;
        margin-bottom: 30px;
    }
}


/* Footer */


footer {
    background-color: #2e2e2e;
    display: flex;
    justify-content: center;
}

.footer_main-container {
    width: 1580px;
    padding-left: 20px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.footer_container {
    width: 790px;
    padding: 0 30px;
    display: flex;
    flex-direction: column;
}

.footer_map {
    width: 650px;
    height: 500px;
}
.footer_map iframe {
    width: 650px;
    height: 500px;
}

.footer_nav nav {
    display: flex;
    justify-content: left;
    padding-top: 70px;
}

footer ul:first-of-type {
    margin-left: 160px;
}

footer ul:last-of-type {
    margin-left: 100px;
}

footer ul li a, footer ul li a:visited {
    color: #aaa;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 32px;
    text-decoration: none;
}

footer ul li a:hover {
    color: #fff;
}

address {
    display: flex;
    justify-content: left;
    margin: 50px 0px 0px 0px;
    border-bottom: 1px solid rgba(80, 80, 80, 0.7);
}

.contact-wrap {
    min-width: 260px;
}

address p a, address p a:visited {
    width: 100%;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    line-height: 40px;
    text-decoration: none;
}

address p a:hover {
    text-decoration: underline;
}



.contact-wrap:nth-child(2) p:last-of-type a {
    color: #c4c4c4;
}

address p span {
    color: #feed54;
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
}

address .social-medias {
    padding: 45px 0px 50px 180px;
}

address a {
    color: #4f4f4f;
    font-size: 25px;
    padding-right: 10px;
}

address a:hover {
    color: #ffffff;
    transition: 0.3s;
}

address a:last-of-type {
    padding-right: 0px;
}

.footer_bottomline {
    display: flex;
    justify-content: space-between;
    padding: 23px 0 23px 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #7e7e7e;
}

.footer_bottomline p a, .notes p a:visited {
    color: #7e7e7e;
    text-decoration: none;
}

.footer_bottomline p a:hover {
    color: #bbbbbb;
    text-decoration: none;
}



/* header: adding the line under a menu item when :hover */
.header-underline {
    display: inline;
    position: relative;
    overflow: hidden;
}
.header-underline:after {
    content: "";
    position: absolute;
    z-index: 10;
    right: 0;
    width: 0;
    top: 101px;
    background: #fcdb5a;
    height: 3px;
    transition-property: width;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
}
.header-underline:hover:after,
.header-underline:focus:after,
.header-underline:active:after {
    left: 0;
    right: auto;
    width: 100%;
}
/* header: finished adding the line under a menu item when :hover */

/* footer: adding the line under a menu item when :hover*/
.footer-underline a {
    position: relative;
    overflow: hidden;
}
.footer-underline a:after {
    content: "";
    position: absolute;
    z-index: 10;
    right: 0;
    width: 0;
    top: 23px;
    background: #fcdb5a;
    height: 3px;
    transition-property: width;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
}
.footer-underline a:hover:after,
.footer-underline a:focus:after,
.footer-underline a:active:after {
    left: 0;
    right: auto;
    width: 100%;
}
/* footer: finished adding the line under a menu item when :hover */